<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8;">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-star-rating/4.0.5/css/star-rating.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <title></title>
    <link rel="shortcut icon" href="img/cat.png" type="image/x-icon" />
    <link rel="icon" href="img/cat.png" type="image/gif">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/img.js"></script>
</head>
<body>
<div class="hd">
    <div class="hd-bar">
            <span class="logo">
                <a href="index"><img src="img/cat.png" width="50px"></img></a>
            </span>
        <span class="tips">
                <img src="img/name.png" alt="" width="125px;">
            </span>
        <span class="hd-info pull-right">
                    <a href="#nowhere">首页</a>
                    <span class="l">|</span>
                    <a href="admin">学习计划</a>
                    <span class="l">|</span>
                    <a href="#nowhere">学习打卡</a>
                    <span class="l">|</span>
                    <a href="https://weibo.com/5983438364/profile?rightmod=1&wvr=6&mod=personinfo">看我</a>
            </span>
    </div>
</div>
<div class="bd">
    <div class="shy" style="display:none">业界知名大牛</div>
    <div class="bd-title"><img src="img/title.png" width="600px"></img></div>
    <div class="box">
        <div class="servicesBox">
            <div class="serBox">
                <div class="serBoxOn"></div>
                <div class="pic1"> <img src="img/3.png"> </div>
                <div class="pic2"> <img src="img/3-3.png"> </div>
                <div class="txt1"> <span class="tit">每日代码</span><p>快乐代码</p></div>
                <div class="txt2"><a href="#" target="_blank" class="a_jump"><span class="tit">每日代码</span><p>快乐代码</p></a></div>
            </div>
            <div class="serBox">
                <div class="serBoxOn"></div>
                <div class="pic1"> <img src="img/1.png"> </div>
                <div class="pic2"> <img src="img/1-1.png"> </div>
                <div class="txt1"> <span class="tit">学习计划</span><p>大牛养成记</p></div>
                <div class="txt2"> <a href="admin" target="_blank" class="a_jump"><span class="tit">学习计划</span><p>大牛养成记</p></a> </div>
            </div>
            <div class="serBox">
                <div class="serBoxOn"></div>
                <div class="pic1"> <img src="img/2.png"> </div>
                <div class="pic2"> <img src="img/2-2.png"> </div>
                <div class="txt1"> <span class="tit">学习打卡</span><p>克服好逸恶劳</p></div>
                <div class="txt2"> <a href="#" target="_blank" class="a_jump"><span class="tit">学习打卡</span><p>克服好逸恶劳</p></a> </div>
            </div>
        </div>
    </div>
    <div class="cathd"><img src="img/cat-2.png" width="150px"></img></div>

    <div class="wait">

        <p class="zb">更叼的马上就来~</p> <p class="zb">敬请期待</p>
        <span class="flash pull-center"><img src="img/flash.png"></img></span>
        <span class="me pull-right">All design by XXJ~</span>
    </div>
</div>


<!-- 日历插件
<div id="demo">
<div id="ca"></div>

<div id="dd"></div>
</div> -->



<script src="js/jquery.js"></script>
<script src="js/calendar.js"></script>
<script src="js/menu.js"></script>
<!-- <script src="js/index.js"></script>  -->
</body>
</html>